<div class="container">
  <h1>Books</h1>

  {{#each books}}
  <div class="container mt-3">
    <h4> {{@key}}: {{this.title}}</h4>
    <p><a href="/books/{{this._id}}"> {{this._id}}</a></p>

  </div>
  {{/each}}
</div>